/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.sticky p {
  text-align: center
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Column container */
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
    flex-direction: row;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
    align-items: stretch;
  height: auto;
  overflow: visible;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side-col {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  background-color: #f1f1f1;
  padding: 1em;
}

/* Main column */
.main-col {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  background-color: white;
  padding: 1em;
}

/* Fake image, just for this example */
.fake-img {
  background-color: #aaa;
  width: 100%;
  padding: 1em;
}

/* Footer */
.footer {
  padding: 1em;
  background: #ddd;
}

.footer h2 {
  text-align: center;
}

.footer-col {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}

/* Responsive layout - when the screen is less than 640px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
  .flex-row, .navbar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
  }
}
